// 移植元
// https://js4.in/repo/gitweb.cgi?p=v6don;a=blob;f=app/javascript/styles/v6don/components.scss;hb=HEAD

@keyframes v6don-kira
  0%
    transform: scale(1)
  50%
    transform: scale(0.85)
  100%
    transform: scale(1)
@keyframes v6don-nobi
  0%
    transform: scale(1)
  50%
    transform: scale(1)
  52%
    transform: scale(1.1, 1.6)
  60%
    transform: scale(1)
@keyframes v6don-wave
  0%
    transform: translateY(0)
  4%
    transform: translateY(-0.25em)
  10%
    transform: translateY(0)
@keyframes v6don-bitibiti
  for $i in (0)..(14)
    {$i * 2%}
      if $i % 2 == 0
        transform: rotate(-20deg)
      else
        transform: rotate(20deg)
  30%
    transform: rotate(0)

/*
@font-face
  font-family: "v6don-emoji"
  src: url("../fonts/v6don/v6don-emoji.woff") format("woff")
*/

.v6don-kira
  display: inline-block
  animation: v6don-kira 0.8s infinite
.v6don-nobi
  display: inline-block
  animation: v6don-nobi 1.8s infinite
  transform-origin: center bottom
.v6don-wave
  display: inline-block
  animation: v6don-wave 2s infinite
.v6don-tyu2
  background-color: black
  font-family: serif
  color: red
  .v6don-fg-stroke
    stroke: red
  .v6don-fg-round
    fill: red
.v6don-dagger
  color: white
.v6don-kozinkanso
  font-size: 0.55em
.v6don-bitibiti
  display: inline-block
  animation: v6don-bitibiti 1.6s infinite
.v6don-emoji::before
  font-family: "v6don-emoji"
  content: attr(data-gryph)
.v6don-setu
  font-family: "v6don-emoji"
  color: white
  background: red
  padding: 2px

$quoted-text-color = #0e7f28

.status__content
  blockquote
    color: $quoted-text-color
    border-right: solid 3px $quoted-text-color
    padding-right: 2px
    .v6don-fg-stroke
      stroke: $quoted-text-color
    .v6don-fg-round
      fill: $quoted-text-color
  p + blockquote
    margin-top: -1*20px

.e-content blockquote

ruby
  ruby-align: space-between
.v6don-ruby-rt::after
  content: attr(data-ruby)

.v6don-estclock
  padding: 10px

.compose-form__v6don-footer-form > input
  width: 100%
  box-sizing: border-box
  &:disabled
    display: none

.v6don-sinitai
  > span
    animation-duration: 0.5s
    animation-delay: 0s
    animation-iteration-count: infinite
  &-si
    animation-name: v6don-sinitai-0
  &-ni
    animation-name: v6don-sinitai-1
  &-ta
    animation-name: v6don-sinitai-2
  &-i
    animation-name: v6don-sinitai-3

for $x in (0)..(3)
  @keyframes v6don-sinitai-{$x}
    for $i in (0)..(5)
      {$i * 16.6%}
        color: hsl($i * 60 + $x * 90, 100%, 90%)
        text-shadow: 0px 0px 4px hsl($i * 60 + $x * 90, 100%, 55%), 0px 0px 1px hsl($i * 60 + $x * 90, 100%, 55%), 0px 0px 1px hsl($i * 60 + $x * 90, 100%, 55%)
    100%
      color: hsl($x * 90, 100%, 90%)
      text-shadow: 0px 0px 4px hsl($x * 90, 100%, 55%), 0px 0px 1px hsl($x * 90, 100%, 55%), 0px 0px 1px hsl($x * 90, 100%, 55%)

.v6don-invisible
  font-size: 0
  line-height: 0
  display: inline-block
  width: 0
  height: 0
  position: absolute
  img,
  svg
    margin: 0 !important
    border: 0 !important
    padding: 0 !important
    width: 0 !important
    height: 0 !important
