@import "../style"
@import "../animation"
@import "./v6don/style"

html
	&.progress
		&, *
			cursor progress !important

html
	// iOSのため
	overflow auto

body
	overflow-wrap break-word

#nprogress
	pointer-events none

	position absolute
	z-index 65536

	.bar
		background var(--primary)

		position fixed
		z-index 65537
		top 0
		left 0

		width 100%
		height 2px

	/* Fancy blur effect */
	.peg
		display block
		position absolute
		right 0px
		width 100px
		height 100%
		box-shadow 0 0 10px var(--primary), 0 0 5px var(--primary)
		opacity 1

		transform rotate(3deg) translate(0px, -4px)

#wait
	display block
	position fixed
	z-index 65537
	top 15px
	right 15px

	&:before
		content ""
		display block
		width 18px
		height 18px
		box-sizing border-box

		border solid 2px transparent
		border-top-color var(--primary)
		border-left-color var(--primary)
		border-radius 50%

		animation progress-spinner 400ms linear infinite

	@keyframes progress-spinner
		0%
			transform rotate(0deg)
		100%
			transform rotate(360deg)

code
	font-family Consolas, 'Courier New', Courier, Monaco, monospace

pre
	display block

	> code
		display block
		overflow auto
		tab-size 2

[data-icon]
	display inline-block
